/* For all  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* Here is nav section  */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;
  width: 100%;
  background-color: #333;
  position: fixed;
  z-index: 100000;
}
.nav h2 {
  padding: 1px 5px;
  color: rgb(184, 79, 4);
  border: 2px solid rgb(184, 79, 4);
  cursor: pointer;
}
.nav #items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav #items li {
  list-style: none;
  padding-left: 40px;
}
.nav #items li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.nav #items .icon a {
  text-decoration: none;
}
.nav #items a:hover {
  color: rgb(184, 79, 4);
  transition: 1s;
}
.nav #items .icon a i {
  color: white;
  padding-left: 40px;
}
.nav #items .icon a i:hover {
  color: rgb(184, 79, 4);
  transition: 1s;
}
#bar {
  color: rgb(184, 79, 4);
  padding-left: 30px;
  font-size: 1.5rem;
  display: none;
}

/* Header section  */
.header {
  background-image: url(./Images/cover.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.header .wrapper p {
  color: grey;
}
.header .wrapper h1 {
  font-size: 4rem;
  padding: 1rem 11rem;
  text-align: center;
}
.header .wrapper .get a {
  padding: 5px;
  text-decoration: none;
  color: grey;
  font-size: 1.3rem;
}
.header .wrapper .get .learn {
  color: rgb(184, 79, 4);
  padding: 5px 10px;
  border: 1px solid rgb(184, 79, 4);
  border-radius: 3px;
}
.header .wrapper .get a:hover {
  color: rgb(184, 79, 4);
  transition: 1s;
}
.learn:hover {
  background-color: white;
  color: rgb(184, 79, 4);
  border: none;
  transition: 1s;
}

/* Details section  */
.details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 12rem;
  background-color: rgba(1, 4, 16, 0.958);
}

.details .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
}
.details .left h1 {
  color: white;
  font-size: 2.5rem;
}
.details .left h4 {
  color: white;
}
.details .left p {
  color: grey;
}
.details .left a {
  text-decoration: none;
  color: white;
  background-color: rgb(184, 79, 4);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 15px 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.left a:hover {
  background-color: white;
  color: rgb(184, 79, 4);
  transition: 1s;
}
.details .right {
  width: 45%;
  border-left: 1px solid grey;
  padding-left: 4rem;
}
.details .right h1 {
  color: white;
  font-size: 2.5rem;
}
.details .right h4 {
  color: white;
}
.details .right p {
  color: grey;
}

/* Trainer Section  */
.trainer {
  width: 100%;
  background-color: whitesmoke;
  padding: 4rem 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.intro {
  width: 35%;
}
.intro p {
  color: grey;
  text-align: justify;
}
.instractor {
  width: 62%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.instractor .team {
  width: 48%;
  height: auto;
  box-shadow: -2px 5px 9px 4px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: -2px 5px 9px 4px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -2px 5px 9px 4px rgba(0, 0, 0, 0.32);
}
.instractor .team img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.instractor .team .teamDetails {
  padding: 1rem;
}
.instractor .team .teamDetails .name,
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* class section start  */
.classes {
  padding: 5rem 6rem;
  width: 100%;
  background-color: aliceblue;
}
.classes .getclass {
  text-align: center;
}
.classes .getclass p {
  color: grey;
}
.classes .getclass h1 {
  font-size: 2rem;
}
.classes .team2 {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.classes .team2 .team3 {
  width: 30%;
  box-shadow: -2px 5px 9px 4px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: -2px 5px 9px 4px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -2px 5px 9px 4px rgba(0, 0, 0, 0.32);
}
.classes .team2 .team3 .pic img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
.classes .team2 .team3 .info {
  padding: 10px 15px;
}
.classes .team2 .team3 .info .course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.classes .team2 .team3 .info .course h4 {
  background-color: red;
  padding: 1rem;
  color: white;
  border-radius: 50%;
}
.classes .team2 .team3 .info p {
  color: grey;
  text-align: justify;
}

/* contact  */
.contact {
  width: 100%;
  padding: 5rem 6rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .contacForm {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact .contacForm .form input,
textarea {
  width: 100%;
  padding: 15px 10px;
  margin: 10px 0px;
  outline: none;
}
.contact .contacForm .form button {
  background-color: black;
  color: white;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}
.contact .map {
  width: 48%;
}
.contact .map iframe {
  width: 100%;
  margin-top: 20px;
}
.contact .map i {
  color: red;
}

/* footer  */
footer {
  padding: 4rem;
  background-color: rgb(8, 3, 46);
  color: white;
}
footer .foot p {
  text-align: center;
  margin-top: 10px;
}

/* Media Quaries For responsive */

/* For large Device */
@media screen and (max-width: 1092px) {
  .nav #items li {
    padding-left: 30px;
  }
  .nav #items .icon a i {
    padding-left: 30px;
  }
  .header .wrapper h1 {
    font-size: 3rem;
    padding: 1rem 9rem;
    text-align: center;
  }
  .details {
    padding: 5rem 10rem;
  }
  .details .right h1 {
    font-size: 2.5rem;
  }
}

/* For Medium  Device */
@media screen and (max-width: 991px) {
  .nav {
    padding: 1.5rem 4rem;
  }
  .nav #items {
    text-align: center;
    flex-direction: column;
    width: 300px;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 100000;
    margin-top: 5rem;
    transition: 1s;
  }
  .nav #items li {
    padding-left: 0px;
    padding: 10px 0px;
  }
  .nav #items li a {
    font-size: 1.2rem;
  }
  .nav #items .icon a i {
    padding-left: 0px;
    padding: 10px 20px;
    font-size: 1.3rem;
  }
  #bar {
    color: rgb(184, 79, 4);
    padding-left: 30px;
    font-size: 1.5rem;
    display: initial;
    cursor: pointer;
  }

  .header .wrapper h1 {
    font-size: 3rem;
    padding: 1rem 7rem;
  }
  .header .wrapper .get a {
    padding: 8px;
  }
  .header .wrapper .get .learn {
    color: rgb(184, 79, 4);
    padding: 8px 10px;
  }

  .details {
    padding: 4rem 6rem;
  }

  .details .left {
    width: 48%;
  }
  .details .left h1 {
    font-size: 2.5rem;
  }

  .left a:hover {
    background-color: white;
    color: rgb(184, 79, 4);
    transition: 1s;
  }
  .details .right {
    width: 48%;
  }
  .details .right h1 {
    font-size: 2.5rem;
  }

  .trainer {
    padding: 4rem 4rem;
  }
  .intro {
    width: 32%;
  }
  .instractor {
    width: 64%;
  }
  .instractor .team img {
    height: 300px;
  }

  .classes {
    padding: 4rem 4rem;
  }
  .classes .getclass p {
    color: grey;
  }
  .classes .team2 .team3 {
    width: 32%;
  }
  .classes .team2 .team3 .pic img {
    height: 250px;
  }
  .classes .team2 .team3 .info .course h4 {
    background-color: red;
    padding: 0.8rem;
  }

  .contact {
    padding: 4rem 4rem;
  }
}
/* For Tablet Landscape Device */
@media screen and (max-width: 768px) {
  .nav {
    padding: 1.5rem 4rem;
  }
  .nav h2 {
    padding: 1px 3px;
  }
  .nav #items {
    text-align: center;
    flex-direction: column;
    width: 300px;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 100000;
    margin-top: 5rem;
    transition: 1s;
  }

  .header .wrapper h1 {
    font-size: 2rem;
    padding: 1rem 6rem;
  }
  .header .wrapper .get a {
    padding: 5px;
    text-decoration: none;
    color: grey;
    font-size: 1.3rem;
  }
  .header .wrapper .get .learn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 6rem;
  }

  .details .left {
    width: 100%;
  }
  .details .left h1 {
    font-size: 2rem;
  }

  .details .left a {
    font-size: 1.2rem;
    padding: 15px 10px;
  }

  .details .right {
    width: 100%;
    border-left: 0px;
    padding-left: 0px;
    margin-top: 30px;
    border-top: 2px solid grey;
  }
  .details .right h1 {
    color: white;
    font-size: 2rem;
    margin-top: 30px;
  }
  .details .right h4 {
    color: white;
  }
  .details .right p {
    color: grey;
  }

  /* Trainer Section  */
  .trainer {
    width: 100%;
    background-color: whitesmoke;
    padding: 3rem 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .intro {
    width: 100%;
  }
  .instractor {
    width: 100%;
    margin-top: 30px;
  }
  .instractor .team {
    width: 48%;
  }
  .instractor .team img {
    height: 300px;
  }
  .instractor .team .teamDetails {
    padding: 0.5rem;
  }
  .instractor .team .teamDetails h2 {
    font-size: 24px;
  }

  .classes {
    padding: 2rem 4rem;
  }
  .classes .getclass h1 {
    font-size: 1.5rem;
  }
  .classes .team2 {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .classes .team2 .team3 {
    width: 100%;
    margin-top: 30px;
  }
  .classes .team2 .team3 .pic img {
    height: 500px;
  }
  .classes .team2 .team3 .info {
    padding: 8px 12px;
  }

  .contact {
    width: 100%;
    padding: 2rem 4rem;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .contact .contacForm {
    width: 100%;
  }
  .contact .contacForm .form input,
  textarea {
    width: 100%;
    padding: 10px 6px;
    margin: 7px 0px;
  }
  .contact .contacForm .form button {
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
  }
  .contact .map {
    width: 100%;
    margin-top: 30px;
  }

  footer {
    padding: 2rem;
  }
}
/* For Mobile Device */
@media screen and (max-width: 496px) {
  .nav {
    padding: 1rem 2rem;
  }
  .nav #items {
    text-align: center;
    flex-direction: column;
    width: 300px;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 100000;
    margin-top: 5rem;
    transition: 1s;
  }

  .header .wrapper h1 {
    font-size: 2rem;
    padding: 1rem 4rem;
  }
  .header .wrapper .get a {
    padding: 5px;
    text-decoration: none;
    color: grey;
    font-size: 1rem;
  }
  .details {
    padding: 4rem 3rem;
  }

  .details .left h1 {
    font-size: 1.5rem;
  }

  .details .left a {
    font-size: 1rem;
    padding: 15px 10px;
  }

  .details .right {
    width: 100%;
    border-left: 0px;
    padding-left: 0px;
    margin-top: 30px;
    border-top: 2px solid grey;
  }
  .details .right h1 {
    color: white;
    font-size: 1.5rem;
    margin-top: 30px;
  }

  .trainer {
    width: 100%;
    background-color: whitesmoke;
    padding: 3rem 3rem;
  }
  .instractor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .instractor .team {
    width: 100%;
    margin-top: 30px;
  }

  .classes {
    padding: 2rem 3rem;
  }

  .classes .team2 .team3 .pic img {
    height: 400px;
  }

  .contact {
    padding: 2rem 3rem;
  }
  .contact .contacForm .form button {
    font-size: 1.5rem;
  }
  .contact .contacForm h1 {
    font-size: 1.3rem;
  }
  .contact .map h1 {
    font-size: 1.3rem;
  }

  footer {
    padding: 1rem;
  }
}
